
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}


    
<div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1">6 Hours Away TRAILER | 2024</h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/Z9rcVX8GZww?si=dgMqz_8YeFG9tWpK" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; 
        encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
        
<h4 class="thr-1">
        Release Date: 2024
</h4>
        
    <p class="thr-3">
        An Ex-Marine must assassinate the six rivals of the Cartel leader <br> 
        who kidnapped his wife, or never see her again.
    </p>
    
</section>
</div>

    
<div class="planet-1">
    <div class="plant-6">
        <a class="plant-3" href="../Index.html">Planet</a>
        <p class="plant-2">
            Lorem ipsum dolor sit amet consect<br> etur adi 
            pisicing elit sed do eiusmod
            <br>tempor incididunt.  Lorem ipsum
            dolor <br> sit amet consect etur.
        </p>
        <h5 class="plant-2">5311 Ceaver Sidge Td. Pakland, DE 13507</h5>
        <h5 class="plant-2">info@gmail.com</h5>
        <h5 class="plant-2">+123 123 456</h5>
    </div>
    <div class="plant-8">
        <h4 class="plant-2">Flickr <span class="plant-4" >Stream</span></h4>
    
        <div>
            <img class="plant-5" src="../Pictures/49.jpg" alt="" width="100%">
            <img class="plant-5" src="../Pictures/49.jpg" alt="" width="100%">
            <img class="plant-5" src="../Pictures/49.jpg" alt="" width="100%">
    </div>

    <div>
        <img class="plant-5" src="../Pictures/49.jpg" alt="" width="100%">
        <img class="plant-5" src="../Pictures/49.jpg" alt="" width="100%">
        <img class="plant-5" src="../Pictures/49.jpg" alt="" width="100%">
</div>
        
        
            

    </div>

{% endblock %}