
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}


   <div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1">BEACON 23 | Official Trailer </h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/zQuy5yoWJ7o?si=GnF0Wt6uqkb5sMMQ" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: 2023 
   </h4>
        
    <p class="thr-3">
        Beacon 23 takes place in the farthest reaches of the Milky Way <br> and follows 
        Aster (Lena Headey), a government agent, and <br>  Halan (Stephan James), a stoic 
        ex-military man, whose fates <br>  become entangled after they find themselves trapped 
        together <br>  inside one of many Beacons that serve as a lighthouse for <br>  intergalactic 
        travelers. Every Beacon is run by one highly trained <br>  human and a specialized 
        Artificial Intelligence. Aster <br>  mysteriously finds her way to the lonely 
        Beacon-keeper Halan,  <br> and a tense battle of wills unfolds. Halan begins to 
        question <br>  whether Aster is friend or foe, as her   ability to disguise her <br>  agenda 
        and motives could make her a <br>  formidable opponent.
    </p>
       
</section>
   </div>

{% endblock %}