
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}


    

   <div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1">Blood for Dust (2024) | Official Trailer</h1>
        <iframe width="460" height="315"
        src="https://www.youtube.com/embed/VRrrTBcuPF8?si=ph2jzt3-sMePfXl7"
         title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; 
          encrypted-media; gyroscope; picture-in-picture; web-share"
           referrerpolicy="strict-origin-when-cross-origin" 
           allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: 2024 
   </h4>
        
    <p class="thr-3">
        Cliff (Scoot McNairy), a former salesman with a checkered past, <br>
         is pulled back into a life of crime after losing his job.
          Desperate <br> to keep his family afloat, he's lured by his old 
          colleague, Ricky <br> (Kit Harington), into trafficking drugs and
           guns for a cartel. As <br> Cliff delves deeper, his once straight-laced 
           life turns into a <br> high-stakes game of survival in this gripping
            thriller hailed as <br> "Breaking Bad meets Fargo" (Variety). 
            Also starring Josh Lucas <br> and Stephen Dorff.
    </p>
       
</section>
   </div>

{% endblock %}