
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}



   <div style="display: flex ; justify-content:center ; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1">Breathe (2024) | Official Trailer</h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/chaHsowROfQ?si=sIVvd6ay8GqMa3zN" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; 
        picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date:  April 26, 2024 
   </h4>
        
    <p class="thr-3">
        Breathe is a heart pounding thriller set in the future.  After Earth 
        is <br> left uninhabitable due to lack of oxygen, a mother Maya <br>
         (Jennifer Hudson) and her daughter Zora (Quvenzhané Wallis) <br> are 
         forced to live underground, with short trips to the surface <br> only 
         made possible by a coveted state of the art oxygen suit <br> made by 
         Maya’s husband, Darius,  whom she presumes to be <br> dead. When a 
         mysterious couple arrives claiming to know Darius<br> and his fate, 
         Maya tentatively agrees to let them into their bunker <br> but these 
         visitors are not who they claim to be ensuing in mother <br> and daughter
          fighting for survival.
    </p>
       
</section>
   </div>

      
{% endblock %}