
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}



   <div style="display: flex ; justify-content:center ; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1">CHIEF OF STATION Official Trailer (2024)</h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/Krsu0mazuZ4?si=bd2N_PSojO5sjnwC" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; 
        encrypted-media; gyroscope; picture-in-picture; web-share"
         referrerpolicy="strict-origin-when-cross-origin" 
         allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date:  5/3/24
   </h4>
        
    <p class="thr-3">
        After learning the untimely death of his wife was not accidental,
         a <br> former CIA Station Chief (Aaron Eckhart) is forced back into the<br> 
          espionage underworld, teaming up with an adversary to unravel <br>  a
           conspiracy that challenges everything he thought he knew.
    </p>
       
</section>
   </div>

{% endblock %}