
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}



    <div style="display: flex ; justify-content:center ; background-color: rgb(230, 222, 222);">
        <section class="thr-2">
            <h1 class="thr-1"> The Cleaning Lady (FOX) Trailer HD  </h1>
            <iframe width="460" height="315" 
            src="https://www.youtube.com/embed/DZRRfMHxdAw?si=-_ku4YEKh4ePGFxr" 
            title="YouTube video player" frameborder="0" allow="accelerometer; 
            autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
            web-share" referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen></iframe>
              
       <h4 class="thr-1">
            Release Date: 17 May 2021 
       </h4>
            
        <p class="thr-3">
            A whip-smart doctor comes to the U.S. for a medical treatment <br> to save her ailing 
            son. But when the system fails and pushes her  <br>into hiding, she refuses to be 
            beaten down and marginalized. <br> Instead, she becomes a cleaning lady for the mob 
            and starts <br> playing the game by her own rules.
        </p>
           
    </section>
       </div>
 

{% endblock %}