
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}


    
<div style="display: flex ; justify-content:center ; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1">Dark Matter — Official Trailer </h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/j6ucGt_Xp14?si=zsijb34ndT0qP0Is" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
        gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
        
<h4 class="thr-1">
        Release Date: 2024
</h4>
        
    <p class="thr-3">
        Hailed as one of the best sci-fi novels of the decade, Dark Matter <br>
        is a story about the road not taken. The series will follow Jason  <br>
        Dessen (played by Joel Edgerton), a physicist, professor and <br> family 
        man who — one night while walking home on the streets <br> of Chicago — is 
        abducted into an alternate version of his life. <br> Wonder quickly turns 
        o nightmare when he tries to return to his <br>reality amid the 
        mind-bending landscape of lives he could have <br> lived. In this 
        labyrinth of realities, he embarks on a harrowing <br> journey to get 
        back to his true family and save them from the <br> most terrifying, 
        unbeatable foe imaginable: himself.
    </p>
    
</section>
</div>

    


{% endblock %}