
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}


    
   <div style="display: flex ; justify-content:center ; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1">Dead Boy Detectives | Official Trailer r</h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/hwJmZ2Ekfbc?si=jXhYmYaCZo7vmxZO" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>

          
   <h4 class="thr-1">
        Release Date: 2024
   </h4>
        
    <p class="thr-3">
        Edwin and Charles are best friends, ghosts… and the best <br> detectives
         on the Mortal plane. They will do anything to stick <br> 
         together – including escaping evil witches, Hell and Death <br> herself. 
         With the help of a clairvoyant named Crystal and her <br> friend Niko, 
         they are able to crack some of the mortal realm’s <br> most mystifying 
         paranormal cases.
    </p>
       
</section>
   </div>

      

{% endblock %}