
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}



   <div style="display: flex ; justify-content:center ; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1">Fallout - Official Trailer </h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/V-mugKDQDlg?si=_DW1OJVqkxUJkwuX" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date:   7 Mar 2024 
   </h4>
        
    <p class="thr-3">
        Based on one of the greatest video game series of all time, <br> Fallout is the story 
        of haves and have-nots in a world in which  <br> there’s almost nothing left to have. 
        200 years after the <br>  apocalypse, the gentle denizens of luxury fallout shelters 
        are <br>  forced to return to the irradiated hellscape their ancestors left  <br> behind — and 
        are shocked to discover an incredibly complex,  <br> gleefully weird and highly violent 
        universe waiting for them. From <br>  executive producers Jonathan Nolan and Lisa Joy, 
        the creators <br>  of Westworld, starring Ella Purnell, Aaron Moten, Walton  <br> Goggins and 
        more. All episodes arrive April 11 on Prime Video.
    </p>
       
</section>
   </div>



{% endblock %}