
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

 

   <div style="display: flex ; justify-content:center ; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1">Game of Thrones | Official Series Trailer </h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/KPLWWIOCOOQ?si=c_CR64iqXZB_DVu6" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: 2023 
   </h4>
        
    <p class="thr-3">
        It’s time to return to Westeros.
    </p>
       
</section>
   </div>



{% endblock %}