
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}


    
   <div style="display: flex ; justify-content:center ; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1">GHOSTBUSTERS: FROZEN EMPIRE - Official Trailer (HD)</h1>
        <iframe width="460" height="315" src="https://www.youtube.com/embed/HpOBXh02rVc" 
        title="GHOSTBUSTERS: FROZEN EMPIRE - Official Trailer (HD)" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write;
         encrypted-media; gyroscope; picture-in-picture; web-share"
         referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: March 22.
   </h4>
        
    <p class="thr-3">
        In Ghostbusters: Frozen Empire, the Spengler family returns to <br> where 
        it all started – the iconic New York City  firehouse – to<br> team up with 
        the original Ghostbusters, who’ve developed a <br>  top-secret research lab 
        to take busting ghosts to the next level. <br> But when the discovery of an
         ancient artifact unleashes an army <br> of ghosts that casts a death chill 
         upon the city, Ghostbusters new <br> and old must join forces to protect 
         their home and save the world <br> from a second Ice Age.
    </p>

    <p class="thr-3">
        Genre: Action / Thriller <br>
        Cast: Paul Rudd <br>
        Carrie Coon <br>
        Finn Wolfhard <br>
        Mckenna Grace <br>
        Kumail Nanjiani <br>
        Patton Oswalt  <br>
        Celeste O’Connor <br>
        Logan Kim <br>
        Bill Murray <br>
        Dan Aykroyd <br>
        Ernie Hudson <br>
        Annie Potts
        William Atherton <br>
        Director: Gil Kenan<br>
        Writern: Gil Kenan & Jason Reitman 
    </p>
       
</section>
   </div>



{% endblock %}   