
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}




   <div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1">THE HANGMAN Official Trailer  </h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/XwlrNlTCk90?si=YJgFVsNfPB1LWjnh" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date:  7 May 2024 
   </h4>
        
    <p class="thr-3">
        First movie trailer for The Hangman.
    </p>
       
</section>
   </div>

  

{% endblock %}