
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}


   <div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1">How to Rob a Bank | Official Trailer  </h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/w20aHhlRjDc?si=NJ-rAcbPcccun5eq" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: 15 May 2024 
   </h4>
        
    <p class="thr-3">
        In this true-crime documentary, a charismatic rebel in 1990s <br> Seattle pulls off 
        an unprecedented string of bank robberies <br> straight out of the movies.
    </p>
       
</section>
   </div>

   

{% endblock %}