
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

   <div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1">Interview With The Vampire - Official Trailer </h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/q8Oysn9I9K8?si=IrgsCy3tISme-9xx" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
        clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date:   9 Sept 2022 
   </h4>
        
    <p class="thr-3">
        A sensuous, contemporary reinvention of Anne Rice’s <br>  revolutionary gothic novel, 
        Anne Rice’s Interview with the <br>  Vampire follows Louis de Pointe du Lac (Jacob 
        Anderson), <br>  Lestat de Lioncourt (Sam Reid) and Claudia’s (Bailey Bass) epic  <br> story 
        of love, blood, and the perils of immortality, as told to <br>  journalist Daniel Molloy 
        (Eric Bogosian). 
    </p>
       
</section>
   </div>

   

{% endblock %}