
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

    
    
   <div style="display: flex ; justify-content:center; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1"> Land of Bad Trailer #1 (2024)</h1>
        <iframe width="460" height="315"
         src="https://www.youtube.com/embed/yTFazxfrXVw?si=nL53qwNsIM-CDAxO" 
         title="YouTube video player" frameborder="0" 
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
         gyroscope; picture-in-picture; web-share" 
         referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: February 16, 2024 
   </h4>
        
    <p class="thr-3">
        When a Delta Force team is ambushed in enemy territory, 
        a <br> rookie officer (Liam Hemsworth) refuses to abandon them.
         Their <br> only hope lies with an Air Force drone pilot (Russell Crowe) 
         as <br> the eyes in the sky during a brutal 48-hour battle for survival. 
    </p>
       
</section>
   </div>

     

{% endblock %}