
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}


   <div style="display: flex ; justify-content:center; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1">LIFE AFTER FIGHTING Official Trailer</h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/iykZmLa5e34?si=8c885gBH8e0wiSyx" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: 31 May 2024
   </h4>
        
    <p class="thr-3">
        First movie trailer for Life After Fighting starring Bren Foster.
    </p>
       
</section>
   </div>

  

{% endblock %}