
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}


    
    
   <div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1">Logan | Official Trailer [HD]</h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/RH3OxVFvTeg?si=2T-3oqyFZX__7FrE" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; 
        picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: 2017
   </h4>
        
    <p class="thr-3">
        In the near future, a weary Logan cares for an ailing Professor X <br>
        in a hideout on the Mexican border. But Logan's attempts to hide  <br>
        from the world and his legacy are up-ended when a young <br> mutant 
        arrives, being pursued by dark forces.
    </p>
       
</section>
   </div>

     

{% endblock %}