
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

   

   <div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1">FURIOSA : A MAD MAX SAGA | OFFICIAL TRAILER</h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/XJMuhwVlca4?si=6DTx0JH__8-9jkz2" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: 30 Nov 2023
   </h4>
        
    <p class="thr-3">
        As the world fell, young Furiosa is snatched from the Green <br>  Place of Many Mothers and 
        falls into the hands of a great Biker <br>  Horde led by the Warlord Dementus.  
        Sweeping through the <br>  Wasteland, they come across the Citadel presided over by The  <br> 
        Immortan Joe.  While the two Tyrants war for dominance, Furiosa <br>  must survive many 
        trials as she puts together the means to find <br>  her way home.
    </p>
       
</section>
   </div>

     

{% endblock %}