
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

    
       <div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1"> MADAME WEB – Official Trailer (HD)</h1>
        <iframe width="460" height="315"
         src="https://www.youtube.com/embed/s_76M4c4LTo?si=x8DINBx3Bk0jZqN4" 
         title="YouTube video player" frameborder="0" 
         allow="accelerometer; autoplay; clipboard-write; encrypted-media;
          gyroscope; picture-in-picture; web-share"
           referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date:  2024 
   </h4>
        
    <p class="thr-3">
        In a switch from the typical genre, Madame Web tells the <br> standalone 
        origin story of one of Marvel publishing's most <br> enigmatic heroines.
         The suspense-driven thriller stars Dakota <br> Johnson as Cassandra Webb,
          a paramedic in Manhattan who <br> develops the power to see the future… 
          and realizes she can use <br> that insight to change it. Forced to 
          confront revelations about her <br> past, she forges a relationship 
          with three young women bound <br> for powerful destinies...if they can 
          all survive a deadly present.
    </p>

    <p class="thr-3">
        Genre: Action / Thriller <br>
        Cast: Dakota Johnson <br>
        Sydney Sweeney <br>
        Celeste O’Connor <br>
        Isabela Merced <br>
        Tahar Rahim <br>
        Mike Epps <br>
        Emma Roberts <br>
        Adam Scott <br>
        Director: SJ Clarkson  <br>
        Writer: Kerem Sanga
    </p>
       
</section>
   </div>

      

{% endblock %}