
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}


    
    
   <div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1"> PROJECT WOLF HUNTING Official Trailer</h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/bl4N4s2sWhg?si=04zZewPq0PQ6HTHI" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; 
        encrypted-media; gyroscope; picture-in-picture; web-share"
         referrerpolicy="strict-origin-when-cross-origin" 
         allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date:  2023 
   </h4>
        
    <p class="thr-3">
        While under heavily armed guard, the dangerous convicts <br> aboard 
        a cargo ship unite in a coordinated escape attempt that <br> soon escalates
         into a bloody, all-out riot. But as the fugitives <br> continue their 
         brutal campaign of terror, they soon discover that <br> not even the most
          vicious among them is safe from the horror <br> they unknowingly 
          unleashed from the darkness below deck.
    </p>

    <p class="thr-3">
        Genre: Action / Thriller <br>
        Cast: Seo In-guk <br>
        Jang Dong-yoon <br> 
        Choi Guy-hwa <br>
        Sung Dong-il <br>
        Jung So-min <br>
        Director: Kim Hong-sun 
    </p>
       
</section>
   </div>

    

{% endblock %}