
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}


   <div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1">Paradox Effect - Official Movie Trailer </h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/vDHccD_L6Wk?si=cJGXz8V3bqWowgY3" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: 13 May 2024  
   </h4>
        
    <p class="thr-3">
        When an ex-junkie witnesses a murder, she is forced to <br> cooperate with the 
        killer to save her daughter's life. She must <br> fight time, the police and the 
        criminal underworld to save the only <br> person who means anything to her.
    </p>
       
</section>
   </div>

      

{% endblock %}