
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

    
    
   <div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1">Parish - Official Trailer (2024)</h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/t3Cr1LTUwHU?si=PWu2yhwNOwVwh_pc" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; 
        encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: 2024
   </h4>
        
    <p class="thr-3">
        In Parish, Esposito stars as Gracian “Gray” Parish, a family man <br> and 
        proud owner of a luxury car service in New Orleans. After <br>  his son is 
        violently murdered and his business collapses, an  <br> encounter with an 
        old friend from his days as a wheelman <br>  resurfaces old habits, 
        sending Gray on a high-stakes collision  <br> course with a violent 
        criminal syndicate.
    </p>
       
</section>
   </div>

      

{% endblock %}