
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}


    
    
<div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1">Presumed Innocent — Official Trailer</h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/ZNSY3lMioHs?si=yB6bTJAbGGd4KDOV" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; 
        encrypted-media; gyroscope; picture-in-picture; web-share"
         referrerpolicy="strict-origin-when-cross-origin" 
         allowfullscreen></iframe>
        
<h4 class="thr-1">
        Release Date: 2024
</h4>
        
    <p class="thr-3">
        Based on The New York Times bestselling novel of the same <br> name by 
        Scott Turow, the gripping series takes viewers on a <br> journey through 
        the horrific murder that upends the Chicago <br> Prosecuting Attorneys' 
        office when chief deputy prosecutor Rusty<br> Sabich (played by Gyllenhaal)
         is suspected of the crime. The <br> series explores obsession, sex, 
         politics, and the power and limits <br> of love, as the accused fights 
         to hold his family and marriage <br> together.
    </p>
    
</section>
</div>

    

{% endblock %}