
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

   

   <div style="display: flex ; justify-content:center; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1">Transformers: Rise of the Beasts | Official Trailer </h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/itnqEauWQZM?si=g-Qz_sFBtuS79zmd" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: June 9, 2023.
   </h4>
        
    <p class="thr-3">
        UNITE or FALL. Watch the new trailer for  <br> #Transformers: #RiseOfTheBeasts.
    </p>
       
</section>
   </div>

      

{% endblock %}