    
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

        
        
    <div style="display: flex ; justify-content:center">
        <section class="thr-2">
            <h1 class="thr-1">SEE — Official Trailer</h1>
            <iframe width="460" height="315" 
            src="https://www.youtube.com/embed/7Rg0y7NT1gU?si=r4tjHsOz0PeXETJI" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen></iframe>
            
    <h4 class="thr-1">
            Release Date: 2019
    </h4>
            
        <p class="thr-3">
            Jason Momoa stars as Baba Voss, the father of twins born <br> centuries 
            later with the mythic ability to see—who must protect <br>  his tribe 
            against a powerful yet desperate queen who believes <br>  it’s witchcraft 
            and wants them destroyed. Alfre Woodard also <br> stars as Paris, 
            Baba Voss’ spiritual leader.
        </p>
        
    </section>
    </div>

        

{% endblock %}