
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

    

   <div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1">Severance — Official Trailer</h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/xEQP4VVuyrY?si=HEVOXlxjUFtYGMx5" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date:  18 Jan 2022
   </h4>
        
    <p class="thr-3">
        From Ben Stiller and creator Dan Erickson, Severance centers <br>  around Mark 
        Scout (Adam Scott), a leader of a team of office <br>  workers whose memories have 
        been surgically divided between  <br> their work and personal lives
    </p>
       
</section>
   </div>

      

{% endblock %}