
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}




   <div style="display: flex ; justify-content:center; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1">Shadow Land | Official Trailer  </h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/TlT8-3_EPW4?si=SxtP_j6qjgw2GFCS" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date:   1 May 2024  
   </h4>
        
   
</section>
   </div>

      

{% endblock %}