{% extends "layout/layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

{% load static %}
    
    
   <div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1"> The Equalizer- Official Trailer (HD)</h1>
        <iframe width="460" height="315" src="https://www.youtube.com/embed/VjctHUEmutw?si=gbDlCLw4fAsX519L" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
         referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: 26 September 2014 (United States)
   </h4>
        
    <p class="thr-3">
        In The Equalizer, Denzel Washington plays McCall,
        a man who <br>believes  he has put his mysterious past behind him and <br>
        dedicated himself to beginning a new, quiet life. But when McCall <br> meets Teri
        (Chloë Grace Moretz), a young girl under the control <br> of ultra-violent Russian gangsters, 
        he can't stand idly by -- he <br> has to help her. Armed with hidden skills that allow him to 
        serve <br> vengeance against anyone who would brutalize the helpless, <br> McCall comes out of his self-imposed
        retirement and finds his <br> desire for justice reawakened. If someone has a problem, 
        if the <br> odds are stacked against them, if they have nowhere else to <br> turn, McCall will help.
        He is The Equalizer.
    </p>

    <p class="thr-3">
        Genre: Crime / Action / Thriller <br>
        Cast: Denzel Washington, Marton Csokas, Chloë Grace Moretz, David Harbour <br>
        Director: Antoine Fuqua <br>
        Writer: Richard Wenk 
    </p>
       
</section>
   </div>

      
   {% endblock %}
    