
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

   
    
<div style="display: flex ; justify-content:center">
    <section class="thr-2">
        <h1 class="thr-1">The Ark | Official Trailer </h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/mFBJwIGazjQ?si=myC_afXLlUC9z-P2" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
        gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
        
<h4 class="thr-1">
        Release Date: 2023
</h4>
        
    <p class="thr-3">
        THE ARK takes place 100 years in the future when planetary <br>
        colonization missions have begun as a necessity to help secure <br> 
        the survival of the human race. The first of these missions on  <br>a 
        spacecraft known as Ark One encounters a catastrophic event <br> causing 
        massive destruction and loss of life. With more than a <br>year left to 
        go before reaching their target planet, a lack of <br> life-sustaining 
        supplies and loss of leadership, the remaining <br> crew must become the 
        best versions of themselves to stay on <br> course and survive.
    </p>
    
</section>
</div>

    

{% endblock %}