
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

    
   <div style="display: flex ; justify-content:center; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1">The Blacklist | Official Series Trailer </h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/JGBIimq1I3A?si=hHKOym5UDToT2FtI" 
        title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: 2023 
   </h4>
        
    <p class="thr-3">
        Raymond Reddington (James Spader), one of the FBI’s most <br> wanted men, 
        goes to the FBI H.Q. in Washington to turn himself <br>in and asks to speak to 
        Elizabeth Keen (Megan Boone). 
    </p>
       
</section>
   </div>

      

{% endblock %}