
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}


    

   <div style="display: flex ; justify-content:center; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1">The Spiderwick Chronicles - Official Trailer</h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/blmTkSBxhmE?si=IOvwvRmxLRM0ZyTY" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
        clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
        web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: 2023 
   </h4>
        
    <p class="thr-3">
        The Grace family moves from Brooklyn, New York, to their  <br> ancestral home in Henson, 
        Michigan, the Spiderwick Estate.  <br>  Helen makes the move with her 15-year-old 
        fraternal twin boys,  <br>  Jared and Simon, and her older daughter, Mallory. Shortly 
        after  <br>  moving to the Spiderwick Estate Jared discovers a boggart and  <br>  realizes 
        that magical creatures are real! The only one to believe  <br>  him is his great-aunt 
        Lucinda who implores Jared to find the  <br>  pages of her father’s field guide to 
        magical creatures and protect  <br>  them from the murderous Ogre, Mulgarath.
    </p>
       
</section>
   </div>

      

{% endblock %}