
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

   
    
   <div style="display: flex ; justify-content:center; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1">Todos los nombres de Dios - Trailer</h1>
        <iframe width="460" height="315" 
        src="https://www.youtube.com/embed/NoEd8WDFcZE?si=C15uPKoQ_oyjplr8"
         title="YouTube video player" frameborder="0" 
         allow="accelerometer; autoplay; clipboard-write; 
         encrypted-media; gyroscope; picture-in-picture; web-share" 
         referrerpolicy="strict-origin-when-cross-origin" 
         allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: 2024 
   </h4>
        
    <p class="thr-3">
        Tras un atentado, Santi es tomado como rehén por Hamza,
         el <br> único terrorista superviviente. Un giro inesperado intercambia <br>  
         los papeles y Santi se convierte en una bomba humana <br>  caminando por 
         la Gran Vía de Madrid llevando un chaleco <br>  cargado con explosivos.
          Los servicios de inteligencia, <br>  emergencia e incluso los medios de 
          comunicación, unirán <br>  fuerzas para salvarle la vida en un 
          impresionante despliegue <br>  con consecuencias inesperadas.
    </p>
       
</section>
   </div>


{% endblock %}