
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

    
    
   <div style="display: flex ; justify-content:center; background-color: rgb(230, 222, 222);">
    <section class="thr-2">
        <h1 class="thr-1">Warchief Trailer(HD)</h1>
        <iframe width="460" height="315" src="https://www.youtube.com/embed/F3jZnzmi8kw?si=86wQNVIs4OyYnZWM"
         title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
         encrypted-media; gyroscope; picture-in-picture; web-share"
         referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          
   <h4 class="thr-1">
        Release Date: 26 September 2024 
   </h4>
        
    <p class="thr-3">
        A band of guardians is tasked with protecting a messenger who <br> must
         urgently deliver vital information to their king. On their <br>  deadly 
         quest across an ancient land,  they are hunted relentlessly <br> by a 
         savage army of orcs, led by their deadliest foe yet, the <br> bloodthirsty ‘Warchief’,
    </p>
       
</section>
   </div>

      

{% endblock %}