{% load static %}

<div class="planet-1">
    <div class="plant-6">
        <a class="plant-3" href="/">Planet</a>
        <p class="plant-2">
            Providing you with the most actionable <br>
             Movie Production Services. Planis <br>
            creates and distribute Video Content.
        </p>
        <h5 class="plant-2">5311 Ceaver Sidge Td. Pakland, DE 13507</h5>
        <h5 class="plant-2">josephatanga25@gmail.com</h5>
        <h5 class="plant-2">+233 597 059 188</h5>
    </div>
    <div class="plant-8">
        <h4 class="plant-2">Flickr <span class="plant-4" >Stream</span></h4>
    
        <div>
                <img class="plant-5" src="{% static 'MoviePost/Pictures/49.jpg'  %}" alt="" width="100%">
                <img class="plant-5" src="{% static 'MoviePost/Pictures/49.jpg'  %}" alt="" width="100%">
                <img class="plant-5" src="{% static 'MoviePost/Pictures/49.jpg'  %}" alt="" width="100%">
        </div>

        <div>
            <img class="plant-5" src="{% static 'MoviePost/Pictures/49.jpg'  %}" alt="" width="100%">
            <img class="plant-5" src="{% static 'MoviePost/Pictures/49.jpg'  %}" alt="" width="100%">
            <img class="plant-5" src="{% static 'MoviePost/Pictures/49.jpg'  %}" alt="" width="100%">
    </div>
        
        
            
 
    </div>

    <div class="plant-7">
        <h4 class="plant-2">Sign <span class="plant-4">Newsletter</span></h4>
        <p class="plant-2">Subscribe to our newsletter list
             to get <br> latest news and updates from us
            </p>
            <input class="email-1" type="email" name="" id="" placeholder="Email">
            <button class="submitbu-1" type="submit" name="Email">Submit</button>
            <div class="link-3">
        <a href="https://www.instagram.com/accounts/login/?hl=en"><img width="30" height="30" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/></a>
        <a href="https://web.facebook.com/"><img width="30" height="30" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/></a>            
        <a href="https://x.com/i/flow/login?lang=en"><img width="30" height="30" src="https://img.icons8.com/color/48/twitter--v1.png" alt="twitter--v1"/></a>
        <a href="https://youtube.com/"><img width="30" height="30" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play"/></a>
        <a href="https://www.linkedin.com/login"><img width="30" height="30" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a>
            </div>
    </div>
</div>


<div class="design-2">
<p class="design-1">
     © All Rights | Design by JOE
</p>
<!-- 
<div>
    <a class="li-2 li-1" href="/">Home</a>
    <a class="li-2 li-1" href=""> Features</a>
    <a class="li-2 li-1" href="">Pages</a>
    <a class="li-2 li-1" href="">Portfolio</a>
    <a class="li-2 li-1" href="/contact/">Contact</a>
</div> -->



</div>




<script src="script.js"></script>    
