

{% load static %} 

<link rel="stylesheet" href="styles/Index.css">
<link rel="stylesheet" type="text/css" href="{%  static 'MoviePost/Styles/Index.css' %}">
<link rel="stylesheet" type="text/css" href="{%  static 'MoviePost/Styles/About.css' %}">
<link rel="stylesheet" type="text/css" href="{%  static 'MoviePost/Styles/Contact Us.css' %}">
<link rel="stylesheet" type="text/css" href="{%  static 'MoviePost/Styles/Services.css' %}">
<link rel="stylesheet" type="text/css" href="{%  static 'MoviePost/Styles/Team.css' %}">
<link rel="stylesheet" href="{% static 'MoviePost/../Styles/watch.css' %}">


