
{% load static %}

<div class="head-1">

    <div class="image-1" >
        
      <div class="image-2">
        <img width="48" height="48" src="https://img.icons8.com/fluency/48/video--v1.png" alt="video--v1"/>     
      </div>

      <h1> MovieMax</h1>
    </div>
    
    

    <div class="head-2">
    <input class="searchbar-1" type="search" name="Search" id="" placeholder="Search Site...">
    <button class="submitbu-1" type="submit">Search</button>
    </div>

    <div>
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/></a>
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/></a>            
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/twitter--v1.png" alt="twitter--v1"/></a>
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play"/></a>
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a>    
    </div>
</div>



<nav class="navbar-1">
    <a class="navbar-2" href="/">Home</a>
    <a class="li-1" href="/about/">About us</a>
    <a class="li-1" href="/services/">Services</a>
    <a class="li-1" href="/team/">Team</a>
    <a class="li-1" href="/contact/">Contact us</a>
</nav>