{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

<div class="about-1">
    <h4 class="about-2">About Us</h4>

</div>

<div class="we-1">
    <h3 class="we-2">
        We Are Planet <br> Providing Movie Production Services
    </h3>
    <p class="we-3">
        Providing you with the most actionable Movie Production Services.
        Planis <br> creates and distribute Video Content.
    </p>
    <p class="we-4">
        Planet Lorem Ipsum is simply dummy text of the printing.
         Lorem Ipsum is <br> simply Video Content dummy industry.
         Lorem ipsum dolor sit amet, <br> consectetuer adipiscing elit.
    </p>
    <p class="we-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
        sed do eiusmod <br> tempor incididunt ut labore.
         Aliquam ut elit venenatis, congue dolor ut, <br> mattis leo
    </p>
    <!-- <button class="we-5"><a class="we-6" href="">Learn More</a></button> -->
</div>


<section class="backcol-1">
    <div class="backcol-7">
        <img width="48" height="48" src="https://img.icons8.com/fluency/48/youtube-play.png" alt="youtube-play"/>
        <h4 class="backcol-4">Meet <span class="para-2"> The Team</span></h4>

    </div>

<div class="choice-3">
    <div class="choice-1">
    <div class="meet-2">
        <p class="choice-6">Semp Porta</p> 
        <p class="meet-1">Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit,
            sed do eiusmod tempor <br> incididunt ut labore. 
           Aliquam ut elit <br> venenatis, congue dolor ut, mattis leo
       </p>

       <div>
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/></a>
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/></a>            
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/twitter--v1.png" alt="twitter--v1"/></a>
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play"/></a>
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a>   
    </div>
          
                       
    </div>
    <div class="choice-2" >
        <img src="{% static 'MoviePost/Pictures/40.jpg'  %}" alt="" width="100%">
    </div>
    </div>
       
        
    <div  class="choice-1">
        <div class="meet-2">
            <p class="choice-6">Dapibus Diam</p> 
            <p class="meet-1">Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit,
                sed do eiusmod tempor <br> incididunt ut labore. 
               Aliquam ut elit <br> venenatis, congue dolor ut, mattis leo
           </p>

           <div>
            <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/></a>
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/></a>            
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/twitter--v1.png" alt="twitter--v1"/></a>
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play"/></a>
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a>
        </div>
           
                    
    </div>
    <div class="choice-2" >
        <img src="{% static 'MoviePost/Pictures/41.jpg'  %}" alt="" width="100%">
    </div>
    </div>

    <div class="choice-1">
        <div class="meet-2">
            <p class="choice-6">Eget Nulla</p> 
            <p class="meet-1">Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit,
                sed do eiusmod tempor <br> incididunt ut labore. 
               Aliquam ut elit <br> venenatis, congue dolor ut, mattis leo
           </p>
            <div>
                <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/></a>
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/></a>            
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/twitter--v1.png" alt="twitter--v1"/></a>
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play"/></a>
        <a href=""><img width="30" height="30" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a>
            </div>
                   
    </div>
        
    <div class="choice-2" >
        <img src="{% static 'MoviePost/Pictures/42.jpg'  %}" alt="" width="100%">
    </div>
    </div>
</div>   
</section>

<section class="backcol-1">
    <div class="backcol-2">
     
        <div class="backcol-7">
               <img width="48" height="48" src="https://img.icons8.com/fluency/48/youtube-play.png" alt="youtube-play"/>
        <h4 class="backcol-4">Movie<span class="para-2"> Streaming Services</span></h4>
            
        </div>
        
        <div class="backcol-3">
           <button class="backcol-6">
                <h4><a class="backcol-5" href="/mo/">View All</a></h4>
            </button> 
        </div>
            
    </div>

    <div class="choice-8">

    <div class="choice-1">
    <div class="choice-4">
            <a class="choice-link" href="damaged/">Damaged</a>
            <h6>
                 <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                 
               <p class="choice-5">2 Views</p>        
    </div>
    <a href="/damaged/"><img class="choice-7" src="{% static 'MoviePost/Pictures/22.jpg'  %}" alt="" width="100%"></a>
</div>


       

    <div  class="choice-1">
        <div class="choice-4">
            <a class="choice-link" href="/madmax/">Mad Max: Fury Road</a>
            <h6>
                 <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
            </h6>    
               <p class="choice-5">6 Views</p>        
    </div>
    <a href="/madmax/"><img class="choice-7" src="{% static 'MoviePost/Pictures/18.jpg'  %}" alt="" width="100%"></a>
</div>




    <div class="choice-1">
        <div class="choice-4">
            <a class="choice-link" href="/rebel/">Rebel Moon - Part Two: The Scargiver</a>
            <h6>
                 <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
            </h6>    
               <p class="choice-5">5 Views</p>        
    </div>
    <a href="/rebel/"><img class="choice-7" src="{% static 'MoviePost/Pictures/20.jpg'  %}" alt="" width="100%"></a>
    </div> 
</div>     

 
</section>


{% endblock %}



