
{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}    
    
       <section class="backcol-1">
        <div class="backcol-2">
    
            <div class="backcol-7">
                <img width="48" height="48" src="https://img.icons8.com/fluency/48/youtube-play.png" alt="youtube-play"/>
            <h4 class="backcol-4">Director's <span class="para-2"> Choice</span></h4>
            </div> 
        </div>
        
    
    <div class="choice-3">
        <div class="choice-1">
        <div class="choice-4">
                <a class="choice-6" href="yes/fallout.html"> Fallout </a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">2 Views</p>        
        </div>
    <a href="yes/fallout.html"><img class="choice-2" src="Pictures/11.jpg" alt="" width="100%"></a>
        </div>
           
            
        <div  class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="yes/into.html"> Into the Badlands</a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">6 Views</p>        
        </div>
    <a href="yes/into.html"><img class="choice-2" src="Pictures/12.jpg" alt="" width="100%"></a>
        </div>
    
        <div class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="yes/breaking.html">Breaking Bad </a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">5 Views</p>        
        </div>
            
        <a href="yes/breaking.html"><img class="choice-2" src="Pictures/13.jpg" alt="" width="100%"></a>
        </div>
    </div>   
    </section>

    <section class="backcol-1">
    
    <div class="choice-3">
        <div class="choice-1">
        <div class="choice-4">
                <a class="choice-6" href="yes/sweet.html">Sweet Tooth </a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">2 Views</p>        
        </div>
        <a href="yes/sweet.html"><img class="choice-2" src="Pictures/62.jpg" alt="" width="100%"></a>
        </div>
           
            
        <div  class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="yes/di.html"> DI Ray</a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">6 Views</p>        
        </div>
        <a href="yes/di.html"><img class="choice-2" src="Pictures/63.jpg" alt="" width="100%"></a>
        </div>
    
        <div class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="yes/superman.html">Superman & Lois </a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">5 Views</p>        
        </div>
            
        <a href="yes/superman.html"><img class="choice-2" src="Pictures/64.jpg" alt="" width="100%"></a>
        </div>
    </div>   
    </section>

    <section class="backcol-1">
       
    <div class="choice-3">
        <div class="choice-1">
        <div class="choice-4">
                <a class="choice-6" href="yes/severance.html">Severance </a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">2 Views</p>        
        </div>
        <a href="yes/severance.html"><img class="choice-2" src="Pictures/65.jpg" alt="" width="100%"></a>
        </div>
           
            
        <div  class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="yes/bridgerton.html">Bridgerton</a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">6 Views</p>        
        </div>
        <a href="yes/bridgerton.html"><img class="choice-2" src="Pictures/66.jpg" alt="" width="100%"></a>
        </div>
    
        <div class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="yes/interview.html">Interview with the Vampire</a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">5 Views</p>        
        </div>
            
        <a href="yes/interview.html"><img class="choice-2" src="Pictures/67.jpg" alt="" width="100%"></a>
        </div>
    </div>   
    </section>

    <section class="backcol-1">
       
        <div class="choice-3">
            <div class="choice-1">
            <div class="choice-4">
                    <a class="choice-6" href="yes/doctor.html"> Doctor Who </a>
                    <h6>
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    </h6>    
                       <p class="choice-5">2 Views</p>        
            </div>
            
            <a href="yes/doctor.html"><img class="choice-2" src="Pictures/68.jpg" alt="" width="100%"></a>
                    
            </div>
               
                
            
        </div>   
        </section>

{% endblock %}

      