
{% extends "layout/layout.html" %}

{% block title %}
    Director
{% endblock %}

{% block content %}

{% load static %}    
    
       <section class="backcol-1">
        <div class="backcol-2">
    
            <div class="backcol-7">
                <img width="48" height="48" src="https://img.icons8.com/fluency/48/youtube-play.png" alt="youtube-play"/>
            <h4 class="backcol-4">Director's <span class="para-2"> Choice</span></h4>
            </div> 
        </div>
        
    
    <div class="choice-3">
        <div class="choice-1">
        <div class="choice-4">
                <a class="choice-6" href="/fallout/"> Fallout </a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">2 Views</p>        
        </div>
    <a href="/fallout/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/11.jpg' %}" alt="" width="100%"></a>
        </div>
           
            
        <div  class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="/into/"> Into the Badlands</a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">6 Views</p>        
        </div>
    <a href="/into/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/12.jpg' %}" alt="" width="100%"></a>
        </div>
    
        <div class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="/breaking/">Breaking Bad </a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">5 Views</p>        
        </div>
            
        <a href="/breaking/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/13.jpg' %}" alt="" width="100%"></a>
        </div>
    </div>   
    </section>

    <section class="backcol-1">
    
    <div class="choice-3">
        <div class="choice-1">
        <div class="choice-4">
                <a class="choice-6" href="/sweet/">Sweet Tooth </a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">2 Views</p>        
        </div>
        <a href="/sweet/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/62.jpg' %}" alt="" width="100%"></a>
        </div>
           
            
        <div  class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="/di/"> DI Ray</a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">6 Views</p>        
        </div>
        <a href="/di/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/63.jpg' %}" alt="" width="100%"></a>
        </div>
    
        <div class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="/superman/">Superman & Lois </a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">5 Views</p>        
        </div>
            
        <a href="/superman/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/64.jpg' %}" alt="" width="100%"></a>
        </div>
    </div>   
    </section>

    <section class="backcol-1">
       
    <div class="choice-3">
        <div class="choice-1">
        <div class="choice-4">
                <a class="choice-6" href="/severance/">Severance </a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">2 Views</p>        
        </div>
        <a href="/severance/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/65.jpg' %}" alt="" width="100%"></a>
        </div>
           
            
        <div  class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="/bridgerton/">Bridgerton</a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">6 Views</p>        
        </div>
        <a href="/bridgerton/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/66.jpg' %}" alt="" width="100%"></a>
        </div>
    
        <div class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="/interview/">Interview with the Vampire</a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">5 Views</p>        
        </div>
            
        <a href="/interview/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/67.jpg' %}" alt="" width="100%"></a>
        </div>
    </div>   
    </section>

    <section class="backcol-1">
       
        <div class="choice-3">
            <div class="choice-1">
            <div class="choice-4">
                    <a class="choice-6" href="/doctor/"> Doctor Who </a>
                    <h6>
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    </h6>    
                       <p class="choice-5">2 Views</p>        
            </div>
            
            <a href="/doctor/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/68.jpg' %}" alt="" width="100%"></a>
                    
            </div>
               
                
            
        </div>   
        </section>

{% endblock %}

      