
{% extends "layout/layout.html" %}

{% block title %}
    Mo
{% endblock %}

{% block content %}

{% load static %}

       <section class="backcol-1">
        <div class="backcol-2">
    
            <div class="backcol-7">
                <img width="48" height="48" src="https://img.icons8.com/fluency/48/youtube-play.png" alt="youtube-play"/>
            <h4 class="backcol-4">Movie <span class="para-2">  Streaming Services</span></h4>
            </div> 
        </div>
        
    
    <div class="choice-3">
        <div class="choice-1">
        <div class="choice-4">
                <a class="choice-6" href="/damaged/"> Damaged </a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">2 Views</p>        
        </div>
        <a href="/damaged/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/22.jpg'  %}" alt="" width="100%"></a>
        </div>
           
            
        <div  class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="/madmax/">Mad Max: Fury Road</a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">6 Views</p>        
        </div>
        <a href="/madmax/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/18.jpg'  %}" alt="" width="100%"></a>
        </div>
    
        <div class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="/rebel/">Rebel Moon - Part Two: The Scargiver </a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">5 Views</p>        
        </div>
            
        <a href="/rebel/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/20.jpg'  %}"` alt="" width="100%"></a>
        </div>
    </div>   
    </section>

    <section class="backcol-1">
    
    <div class="choice-3">
        <div class="choice-1">
        <div class="choice-4">
                <a class="choice-6" href="/hangman/"> The Hangman </a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">2 Views</p>        
        </div>
        <a href="/hangman/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/71.jpg'  %}" alt="" width="100%"></a>
        </div>
           
            
        <div  class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="/bade/"> Bade Miyan Chote Miyan</a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">6 Views</p>        
        </div>
        <a href="/bade/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/72.jpg'  %}" alt="" width="100%"></a>
        </div>
    
        <div class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="/strangers/">The Strangers: Chapter 1</a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">5 Views</p>        
        </div>
            
        <a href="/strangers/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/73.jpg'  %}" alt="" width="100%"></a>
        </div>
    </div>   
    </section>

    <section class="backcol-1">
       
    <div class="choice-3">
        <div class="choice-1">
        <div class="choice-4">
                <a class="choice-6" href="/shadow/"> Shadow Land </a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">2 Views</p>        
        </div>
        <a href="/shadow/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/74.jpg'  %}" alt="" width="100%"></a>
        </div>
           
            
        <div  class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="/how/"> How to Rob a Bank</a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">6 Views</p>        
        </div>
        <a href="/how/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/75.jpg'  %}" alt="" width="100%"></a>
        </div>
    
        <div class="choice-1">
            <div class="choice-4">
                <a class="choice-6" href="/paradox/">  Paradox Effect</a>
                <h6>
                     <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                </h6>    
                   <p class="choice-5">5 Views</p>        
        </div>
            
        <a href="/paradox/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/76.jpg'  %}" alt="" width="100%"></a>
        </div>
    </div>   
    </section>

    <section class="backcol-1">
       
        <div class="choice-3">
            <div class="choice-1">
            <div class="choice-4">
                    <a class="choice-6" href="/bad/">Bad Boys: Ride or Die </a>
                    <h6>
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                    </h6>    
                       <p class="choice-5">2 Views</p>        
            </div>
            <a href="/bad/"><img  style="width: 340px; height: 240px;"  src="{% static 'MoviePost/Pictures/77.jpg'  %}" alt="" width="100%"></a>
            </div>
               
            
        </div>   
        </section>


{% endblock %}