
{% extends "layout/layout.html" %}

{% block title %}
    Team
{% endblock %}

{% block content %}

{% load static %}




    <div class="yes-1">
        <h4 class="backcol-4"> TEAM</h4>
    </div>

    <section class="backcol-1">
    <div class="choice-3">
        <div class="choice-1">
        <div class="names1">
            <p class="choice-6">Mr James Ye</p> 
            <p class="name2">Director
           </p>

           <div>
            <a href="https://www.instagram.com/accounts/login/?hl=en"><img width="30" height="30" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/></a>
            <a href="https://web.facebook.com/"><img width="30" height="30" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/></a>            
            <a href="https://x.com/i/flow/login?lang=en"><img width="30" height="30" src="https://img.icons8.com/color/48/twitter--v1.png" alt="twitter--v1"/></a>
            <a href="https://youtube.com/"><img width="30" height="30" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play"/></a>
            <a href="https://www.linkedin.com/login"><img width="30" height="30" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a>
                </div>
              
                           
        </div>
        <div class="choice-2" >
            <img src="{% static 'MoviePost/Pictures/37.jpg'  %}" alt="" width="100%">
        </div>
        </div>
           
            
        <div  class="choice-1">
            <div class="names1">
                <p class="choice-6">Mr Thomas Ampah</p> 
                <p class="name2">Assistant Director
               </p>

               <div>
                <a href="https://www.instagram.com/accounts/login/?hl=en"><img width="30" height="30" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/></a>
                <a href="https://web.facebook.com/"><img width="30" height="30" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/></a>            
                <a href="https://x.com/i/flow/login?lang=en"><img width="30" height="30" src="https://img.icons8.com/color/48/twitter--v1.png" alt="twitter--v1"/></a>
                <a href="https://youtube.com/"><img width="30" height="30" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play"/></a>
                <a href="https://www.linkedin.com/login"><img width="30" height="30" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a>
                    </div>
               
                        
        </div>
        <div class="choice-2" >
            <img src="{% static 'MoviePost/Pictures/39.jpg'  %}" alt="" width="100%">
        </div>
        </div>
    
        <!-- <div class="choice-1">
            <div class="names1">
                <p class="choice-6">Mr Ernest Adu</p> 
                <p class="name2">Finance Manager
               </p>

               <div>
                <a href="https://www.instagram.com/accounts/login/?hl=en"><img width="30" height="30" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/></a>
                <a href="https://web.facebook.com/"><img width="30" height="30" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/></a>            
                <a href="https://x.com/i/flow/login?lang=en"><img width="30" height="30" src="https://img.icons8.com/color/48/twitter--v1.png" alt="twitter--v1"/></a>
                <a href="https://youtube.com/"><img width="30" height="30" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play"/></a>
                <a href="https://www.linkedin.com/login"><img width="30" height="30" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a>
                    </div>
                       
        </div>
            
        <div class="choice-2" >
            <img src="{% static 'MoviePost/Pictures/39.jpg'  %}" alt="" width="100%">
        </div>
        </div>
    </div>    -->
    </section>

    <section class="backcol-1">
       
<!--     
    <div class="choice-3">
        <div class="choice-1">
        <div class="meet-2">
            <p class="choice-6">Semp Porta</p>
            <p class="meet-1">Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit,
                sed do eiusmod tempor <br> incididunt ut labore.
               Aliquam ut elit <br> venenatis, congue dolor ut, mattis leo
           </p>

           <div>
            <a href="https://www.instagram.com/accounts/login/?hl=en"><img width="30" height="30" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/></a>
            <a href="https://web.facebook.com/"><img width="30" height="30" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/></a>            
            <a href="https://x.com/i/flow/login?lang=en"><img width="30" height="30" src="https://img.icons8.com/color/48/twitter--v1.png" alt="twitter--v1"/></a>
            <a href="https://youtube.com/"><img width="30" height="30" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play"/></a>
            <a href="https://www.linkedin.com/login"><img width="30" height="30" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a>
                </div>


        </div>

            <div class="choice-2" >
                <img src="{% static 'MoviePost/Pictures/40.jpg'  %}" alt="" width="100%">
            </div>
        </div>


        <div  class="choice-1">
            <div class="meet-2">
                <p class="choice-6">Dapibus Diam</p> 
                <p class="meet-1">Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit,
                    sed do eiusmod tempor <br> incididunt ut labore. 
                   Aliquam ut elit <br> venenatis, congue dolor ut, mattis leo
               </p>

               <div>
                <a href="https://www.instagram.com/accounts/login/?hl=en"><img width="30" height="30" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/></a>
                <a href="https://web.facebook.com/"><img width="30" height="30" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/></a>            
                <a href="https://x.com/i/flow/login?lang=en"><img width="30" height="30" src="https://img.icons8.com/color/48/twitter--v1.png" alt="twitter--v1"/></a>
                <a href="https://youtube.com/"><img width="30" height="30" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play"/></a>
                <a href="https://www.linkedin.com/login"><img width="30" height="30" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a>
                    </div>
               
                        
        </div>
        <div class="choice-2" >
            <img src="{% static 'MoviePost/Pictures/41.jpg'  %}" alt="" width="100%">
        </div>
        </div>
    
        <div class="choice-1">
            <div class="meet-2">
                <p class="choice-6">Eget Nulla</p> 
                <p class="meet-1">Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit,
                    sed do eiusmod tempor <br> incididunt ut labore. 
                   Aliquam ut elit <br> venenatis, congue dolor ut, mattis leo
               </p>

               <div>
                <a href="https://www.instagram.com/accounts/login/?hl=en"><img width="30" height="30" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/></a>
                <a href="https://web.facebook.com/"><img width="30" height="30" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/></a>            
                <a href="https://x.com/i/flow/login?lang=en"><img width="30" height="30" src="https://img.icons8.com/color/48/twitter--v1.png" alt="twitter--v1"/></a>
                <a href="https://youtube.com/"><img width="30" height="30" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play"/></a>
                <a href="https://www.linkedin.com/login"><img width="30" height="30" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a>
                    </div>
                       
        </div>
            
        <div class="choice-2" >
            <img src="{% static 'MoviePost/Pictures/42.jpg'  %}" alt="" width="100%">
        </div>
        </div>
    </div>    -->
    </section>

    
    

{% endblock %}
