

{% extends "layout/layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

{% load static %}

    <section class="backcol-1">
        <div class="backcol-2">
    
            <div class="backcol-7">
                <img width="48" height="48" src="https://img.icons8.com/fluency/48/youtube-play.png" alt="youtube-play"/>
            <h4 class="backcol-4">Up Coming <span class="para-2"> Movies</span></h4>
            </div>
        
        </div>
    
        <div class="image-3">
            <div  class="image-5">
                <a href="yes/see.html"><img class="image-4"  src=Pictures/4.jpg alt="" width="100%"></a>
            
            <div class="imagetext-2">
                <a class="imagetext-3" href="yes/see.html">See</a>
                <p class="imagetext-1">
                    Far in a dystopian future, the human race has lost  the sense of sight,
                     and society has had to findnew   ways to interact, 
                    build, hunt, and to survive.  All of that is challenged when a set o
                </p>
    
            <div>
                 <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
    
                <p class="imagetext-1">1 Views</p>
            </div>
        </div>    
        </div>
    
        <div class="image-3">
            <div  class="image-5">
                <a href="yes/parish.html"><img class="image-4"  src=Pictures/5.jpg alt="" width="100%"></a>
            
        <div class="imagetext-2">
                <a class="imagetext-3" href="yes/parish.html"> Parish</a>
                <p class="imagetext-1">
                    Follows a taxi driver whose life is turned upside  down
                     when he agrees to pick-up a Zimbabwean  gangster mostly
                      known for exploiting  undocumented immigrants at the U.S.
                </p>
    
            <div>
                 <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
    
                <p class="imagetext-1">1 Views</p>
            </div>
        </div>    
        </div>
        
        <div class="image-3">
            <div  class="image-5">
                <a href="yes/dead.html"><img class="image-4"  src=Pictures/6.jpg alt="" width="100%"></a>
            
            <div class="imagetext-2">
                <a class="imagetext-3" href="yes/dead.html"> Dead Boy Detectives</a>
                <p class="imagetext-1">
                    Charles Rowland and Edwin Paine  decided not to
                     enter the afterlife to stay  on Earth and investigate
                      crimes that involve  supernatural stuff.
                </p>
    
            <div>
                 <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
    
                <p class="imagetext-1">1 Views</p>
            </div>
        </div>    
        </div>
       </section>
       <section class="backcol-1">
        
    
        <div class="image-3">
            <div  class="image-5">
                <a href="yes/logan.html"><img class="image-4"  src=Pictures/52.jpg alt="" width="100%"></a>
            
            <div class="imagetext-2">
                <a class="imagetext-3" href="yes/logan.html">Logan</a>
                <p class="imagetext-1">
                    In a future where mutants are nearly extinct, an elderly and weary 
                    Logan leads a quiet life. But when Laura, a mutant child pursued by 
                    scientists, comes to him for help, he must get her to s
                </p>
    
            <div>
                 <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
    
                <p class="imagetext-1">1 Views</p>
            </div>
        </div>    
        </div>
    
        <div class="image-3">
            <div  class="image-5">
                <a href="yes/humane.html"><img class="image-4"  src=Pictures/53.jpg alt="" width="100%"></a>
            
        <div class="imagetext-2">
                <a class="imagetext-3" href="yes/humane.html"> Humane</a>
                <p class="imagetext-1">
                    In the wake of an environmental collapse that is 
                    forcing humanity to shed 20% of its population, 
                    a family dinner erupts into chaos when a father's 
                    plan to enlist in the government's new euth
                </p>
    
            <div>
                 <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
    
                <p class="imagetext-1">1 Views</p>
            </div>
        </div>    
        </div>
        
        <div class="image-3">
            <div  class="image-5">
                <a href="yes/6 hours.html"><img class="image-4"  src=Pictures/54.jpg alt="" width="100%"></a>
            
            <div class="imagetext-2">
                <a class="imagetext-3" href="yes/6 hours.html"> 6 Hours Away</a>
                <p class="imagetext-1">
                    It follows ex-Marine Chris Montano after his wife goes 
                    missing during a business trip. He then finds himself 
                    in a race against time to save her.
                </p>
    
            <div>
                 <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
    
                <p class="imagetext-1">1 Views</p>
            </div>
        </div>    
        </div>
       </section>

       <section class="backcol-1">
    
        <div class="image-3">
            <div  class="image-5">
                <a href="yes/the acolyte.html"><img class="image-4"  src=Pictures/55.jpg alt="" width="100%"></a>
            
            <div class="imagetext-2">
                <a class="imagetext-3" href="yes/the acolyte.html">the acolyte </a>
                <p class="imagetext-1">
                    Star Wars series that takes viewers into a galaxy of 
                    shadowy secrets and emerging dark-side powers in the 
                    final days of the High Republic era.
                </p>
    
            <div>
                 <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
    
                <p class="imagetext-1">1 Views</p>
            </div>
        </div>    
        </div>
    
        <div class="image-3">
            <div  class="image-5">
            <a href="yes/dark Matter.html"><img class="image-4"  src=Pictures/56.jpg alt="" width="100%"></a>
            
        <div class="imagetext-2">
                <a class="imagetext-3" href="yes/dark Matter.html"> Dark Matter</a>
                <p class="imagetext-1">
                    A man is abducted into an alternate version of his life. 
                    Amid the mind-bending landscape of lives he could've 
                    lived, he embarks on a harrowing journey to get back 
                    to his true family and save
                </p>
    
            <div>
                 <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
    
                <p class="imagetext-1">1 Views</p>
            </div>
        </div>    
        </div>
        
        <div class="image-3">
            <div  class="image-5">
                <a href="yes/presumed.html"><img class="image-4"  src=Pictures/57.jpg alt="" width="100%"></a>
            
            <div class="imagetext-2">
                <a class="imagetext-3" href="yes/presumed.html"> Presumed Innocent</a>
                <p class="imagetext-1">
                    It tells the story of a horrific murder that upends 
                    the Chicago Prosecuting Attorneys' office when one of 
                    its own is suspected of the crime.
                </p>
    
            <div>
                 <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
    
                <p class="imagetext-1">1 Views</p>
            </div>
        </div>    
        </div>
       </section>

       <section class="backcol-1">
    
        <div class="image-3">
            <div  class="image-5">
                <a href="yes/the Ark.html"><img class="image-4"  src=Pictures/58.jpg alt="" width="100%"></a>
            
            <div class="imagetext-2">
                <a class="imagetext-3" href="yes/the Ark.html">The Ark</a>
                <p class="imagetext-1">
                    Follows the remaining crew of a spacecraft known as 
                    Ark One, who must become the best versions of themselves 
                    to stay on course and survive after experiencing a 
                    catastrophic event that caused
                </p>
    
            <div>
                 <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
    
                <p class="imagetext-1">1 Views</p>
            </div>
        </div>    
        </div>
    
        <div class="image-3">
            <div  class="image-5">
                <a href="yes/wild.html"><img class="image-4"  src=Pictures/61.jpg alt="" width="100%"></a>
            
        <div class="imagetext-2">
                <a class="imagetext-3" href="yes/wild.html"> Wild Eyed and Wicked</a>
                <p class="imagetext-1">
                    Lily Pierce, haunted, seeks her estranged father, 
                    a disgraced history professor, to learn how to battle 
                    supernatural threats like knights fighting monsters, 
                    drawing from a bygone era of swor
                </p>
    
            <div>
                 <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
                <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/FA5252/star.png" alt="star"/>            
    
                <p class="imagetext-1">1 Views</p>
            </div>
        </div>    
        </div>
        
       </section>

{% endblock %}